@model Blogcum.Models.Iletisim
@{
    ViewBag.Title = "IletiEkle";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>IletiEkle</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="input-group">
        <span class="input-group-addon" id="txtkonu">Konu</span>
        @Html.TextBoxFor(x => x.Konu, new { @class = "form-control", placeholder = "konu adı", aria_describedby = "txtkonu" })
        @Html.ValidationMessageFor(x => x.Konu, "", new { @class = "text-danger" })
    </div>
    <br>

    <div class="input-group">
        <span class="input-group-addon" id="txtileti">İleti</span>
        @Html.TextAreaFor(x => x.Ileti, new { @class = "form-control", placeholder = "ileti yazısı", aria_describedby = "txtileti", cols = "30", rows = "20" })
        @Html.ValidationMessageFor(x => x.Ileti, "", new { @class = "text-danger" })

    </div>
    <br>
    
    <div class="input-group">
        <span class="input-group-addon" id="ddlblogcu">Blogcu </span>
        @Html.DropDownListFor(x => x.Blogcular.BlogcuID, (List<SelectListItem>)ViewBag.Blogcular, new { @class = "form-control", aria_describedby = "ddlblogcu" })

    </div>
    <br>  

    <div class="input-group ">
        <input type="submit" name="kaydet" value="Kaydet" class="btn btn-warning" />

    </div>

    <br />

    <div class="input-group">
        @if (ViewBag.Result != null)
        {
            <div class="alert alert-@ViewBag.Status" role="alert">
                @ViewBag.Result
            </div>

        }

    </div>

}
